<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".utils.MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GPSMapCamera"
        tools:targetApi="31">
        <activity
            android:name=".activities.LocationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AddManualLocationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ExitActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="false" />

        <activity
            android:name=".activities.StartMenuActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LanguageActivity"
            android:exported="false" />
        <activity
            android:name=".activities.OnBoardingActivity"
            android:exported="false" />
        <activity
            android:name=".activities.template.basic.AddPersonActivity"
            android:exported="false" />
        <activity
            android:name=".activities.template.stampsetting.StampFontActivity"
            android:exported="false" />
        <activity
            android:name=".activities.template.stampsetting.MapPositionActivity"
            android:exported="false" />
        <activity
            android:name=".activities.template.stampsetting.MapTypeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.template.stampsetting.MapScaleActivity"
            android:exported="false" />
        <activity
            android:name=".activities.template.technical.NumberingActivity"
            android:exported="false" />
        <activity
            android:name=".activities.template.technical.AltitudeAccuracyActivity"
            android:exported="false" />
        <activity
            android:name=".activities.template.weather.WeatherModuleActivity"
            android:exported="false" />
        <activity
            android:name=".activities.template.basic.AddNoteActivity"
            android:exported="false" />
        <activity
            android:name=".activities.template.basic.ContactNumberActivity"
            android:exported="false" />
        <activity
            android:name=".activities.template.basic.CoordinateLatLongActivity"
            android:exported="false" />
        <activity
            android:name=".activities.template.basic.FullAddressActivity"
            android:exported="false" />
        <activity
            android:name=".activities.template.basic.ReportingTagActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activities.template.basic.DateFormatActivity"
            android:exported="false" />
        <activity
            android:name=".activities.template.AllTemplateActivity"
            android:exported="false" />
        <activity
            android:name=".activities.template.EditTemplateActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SavedPathActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.FileNameActivity"
            android:exported="true" />
        <activity
            android:name=".activities.CameraActivity"
            android:exported="true" />
        <activity
            android:name=".activities.PermissionActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PreviewImageActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB9bZ09nESdvT2kRmFEAKbQ3gUqJJwOApI" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/ga_ad_services_config"
            tools:replace="android:resource" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
        <meta-data
            android:name="com.google.android.gms.ads.flag.NATIVE_AD_DEBUGGER_ENABLED"
            android:value="false" />
        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_AD_LOADING"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_INITIALIZATION"
            android:value="true" />
    </application>

</manifest>